ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li {
    padding: 0px;
    margin: 10px 10px;
    font-size: 15px;
    text-transform: capitalize;
}

li a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}