nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    padding: 0.3rem 0rem;
}

nav li {
    margin: 0rem 1rem;
    cursor: pointer;
}